.board {
  background-color: #466060;
  height: 70vh;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.tile {
  cursor: pointer;
}

.slider {
  background-color: white;
}
